/* Réinitialiser quelques styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none; /* Enlève le soulignement sur tous les liens */
}
h2{
    font-size: 30px;
    padding-bottom: 30px;
}

html, body {
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #000000; /* Fond noir pour tout le site */
    color: #ffffff; /* Couleur de texte blanche pour contraste */
}

header {
    width: 100%;
    padding: 50px 50px 50px 50px;
    background-color: #000000; /* Assurer que le header est aussi noir */
}

.logo {
    width: 550px; /* Augmentation significative de la taille du logo */
    display: block; /* Pour centrer le logo si nécessaire */
    padding-bottom: 650px;
    margin-left : -280px;

    margin-right: auto;
    position: fixed;
}
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0; /* Ajustez en fonction de l'espacement désiré */
}



.sidebar {
    width: calc(1.5 * 250px); /* Largeur de la sidebar 1.5 fois plus grande */
    max-width: 375px;
    background-color: #000000; /* Même couleur de fond que le body */
    border-left: 1px solid #ffffff; /* Barre verticale fine blanche */
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column; /* Organise les éléments de la sidebar en colonne */
    justify-content: center; /* Centre verticalement les éléments dans la sidebar */

}

.menu {
    width: 100%; /* Permet aux éléments de la liste de remplir la sidebar */
    list-style-type: none; /* Enlève les puces devant les éléments de liste */
    padding: 0; /* Enlève le padding par défaut de la liste */
}
.menu a {

    display: flex;
    align-items: center; /* Alignement vertical des éléments de la liste */
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 25px;
    transition: border-color 0.3s;
    max-width: 80%; /* Définit une largeur maximale pour les boutons */
    margin: 10px auto; /* Centre les boutons horizontalement */
    list-style-type: none; /* Enlève les puces devant les éléments de liste */


}

.menu a:hover {
    background-color: rgba(255, 255, 255, 0.23); /* Bordure blanche au survol */
}
.menu li {
    list-style-type: none; /* Enlève les puces devant les éléments de liste */

}
.menu ul {
    list-style-type: none; /* Enlève les puces devant les éléments de liste */


}

.menu-icon {
    width: 22px;
    height: 22px;
    margin-right: 40px;
    vertical-align: middle;
    object-fit: cover; /* Cela garantit que l'image couvre la zone sans être déformée */
    align-items: center;

}

.menu li a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 10px;
    transition: background-color 0.3s;
    border-radius: 55px; /* Coins très arrondis pour le survol */
    align-items: center;
}


.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(100% - 250px); /* En supposant que la sidebar fait 250px de large */
}

/* Style pour le bouton Se connecter */
.btn-connexion {
    display: block;
    width: calc(100% - 40px); /* ajustez selon la largeur de votre sidebar */
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    border: 2px solid #FFA500; /* Bordure orange */
    color: white;
    background-color: transparent; /* Fond transparent */
    border-radius: 55px; /* Coins arrondis */
    transition: background-color 0.3s, color 0.3s;
}

.btn-connexion:hover {
    background-color: #FFA500; /* Fond orange au survol */
    color: white; /* Texte blanc au survol */
}

/* Style pour le bouton S'inscrire */
.btn-inscription {
    display: block;
    width: calc(100% - 40px); /* ajustez selon la largeur de votre sidebar */
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    background-color: #FFA500; /* Fond orange */
    color: white;
    border-radius: 55px; /* Coins arrondis */
    transition: background-color 0.3s;
    border: 2px solid #FFA500; /* Ajoute une bordure orange pour le bouton S'inscrire */

}

.btn-inscription:hover {
    color: white;
    background-color: transparent; /* Rend le fond transparent au survol */

}


/* Styliser toute la scrollbar */
::-webkit-scrollbar {
    width: 12px; /* Largeur de la scrollbar */
}

/* Styliser le fond de la scrollbar */
::-webkit-scrollbar-track {
    background-color: #ffffff;
}

/* Styliser la partie mobile (le thumb) de la scrollbar */
::-webkit-scrollbar-thumb {
    background-color: darkorange; /* Couleur de base pour le thumb */
    border-radius: 6px;
    border: 3px solid orange; /* Ajouter si vous voulez une bordure autour du thumb */
}


.profile-module {
    text-align: left; /* Centrer le contenu */
    padding: 20px; /* Ajoutez un padding pour un peu d'espace */
    justify-items: end;
}

.profile-picture {
    width: 30px; /* Ou la taille que vous voulez pour l'image de profil */
    height: 30px; /* Gardez la hauteur et la largeur égales pour un cercle parfait */
    border-radius: 50%; /* Cela rend l'image de profil ronde */
    margin-bottom: 10px; /* Ajoutez un peu d'espace entre l'image et le texte */
    object-fit: cover; /* Cela s'assure que l'image couvre tout l'espace sans déformation */
    border: 1px solid white; /* Ajoutez une bordure si vous le souhaitez */
}

.profile-username {
    color: #ffffff; /* La couleur de votre choix */
    font-size: 18px; /* La taille de police de votre choix */
    font-weight: bold; /* Si vous voulez un texte en gras */
    overflow-wrap: break-word; /* Empêche le texte de sortir de son conteneur */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: #000; /* Fond noir pour tout le body */
}

.container {
    display: flex;
    min-height: 100vh;
    align-items: center; /* Alignement vertical */
    justify-content: center; /* Alignement horizontal */
}

/* Styles de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #000; /* Fond noir pour tout le body */
}

.container {
    display: flex;
    min-height: 100vh;
    align-items: center; /* Alignement vertical */
    justify-content: center; /* Alignement horizontal */
}

/* Styles pour la sidebar et la section principale */
.sidebar {
    width: 375px; /* Largeur de la sidebar */
    /* Ajouter d'autres styles de la sidebar ici si nécessaire */
}

.content {
    flex-grow: 1;
    display: flex;

}

/* Styles pour le formulaire */
.login-form {
    background: transparent;
    border-radius: 55px;
    padding: 20px;
    display: block;
    flex-direction: column;
    max-width: 318px;
    width: calc(100% - 50px); /* Un peu d'espace sur les côtés */
    position: absolute;
    align-self: flex-start; /* Aligner le conteneur du formulaire à gauche */
    margin-right: 100px;
    margin-left : -230px;
    padding-top: 80px;
}

/* Styles pour les champs de saisie */
.login-form input {
    background-color: transparent;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px 400px 10px 10px;
    border-radius: 55px;
    outline: none;
    font-size: 16px;
    color: white;
    margin-top: 10px;
}

/* Styles pour les boutons */
.login-form .btn-connexion,
.login-form .btn-inscription {
    font-weight: bold;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    border-radius: 55px;
    cursor: pointer;
    outline: none;
    width: 80%;
    max-width: 170px;
    align-self: center; /* Pour centrer les boutons */
    margin-top: 10px; /* Espace au-dessus des boutons */
    padding: 10px 10px; /* Ajoutez du padding selon vos besoins */
    background-color:transparent; /* Votre couleur d'arrière-plan pour le bouton */
    text-align: left; /* Alignez le texte à gauche */
    margin-left: 1px;
}

/* Effet de survol pour les boutons */
.login-form .btn-connexion:hover,
.login-form .btn-inscription:hover {
    background-color: #FFA500;
    color: white;
    border: 1px solid #FFA500;
}

/* Styles pour les liens */
a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-tendances {
     background: rgba(255, 98, 98, 0.09); /* Fond légèrement transparent */
 }

.tendances-container {
    width: 80%;
    margin: auto; /* Centre le carré dans la sidebar */
    margin-bottom: 30px; /* Centre le carré dans la sidebar */

    background: rgba(255, 165, 0, 0.09); /* Fond légèrement transparent */
    border-radius: 15px; /* Bord arrondi */
    text-align: center; /* Centrer le texte à l'intérieur */
    margin-top: 20px; /* Espacement après le bouton "Tendances" */
    border: 2px solid #FFA500; /* Ajoute une bordure orange pour le bouton S'inscrire */
    padding-top: 30px;

}

.tendances-container .tendance-title {
    margin-bottom: 20px; /* Espacement entre le titre et les tags */
}

.tag {
    display: block; /* Fait que chaque tag prenne toute la largeur */
    padding: 20px 0; /* Padding pour les tags */
    text-decoration: none; /* Enlève le soulignement des liens */
    color: white; /* Couleur du texte pour les tags */
    transition: background-color 0.3s; /* Transition douce pour le survol */
}

.tag:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Changement de couleur au survol */
}