/* Réinitialiser quelques styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none; /* Enlève le soulignement sur tous les liens */
}
h2{
    font-size: 30px;
    padding-bottom: 30px;
}

html, body {
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #000000; /* Fond noir pour tout le site */
    color: #ffffff; /* Couleur de texte blanche pour contraste */
    transform: scale(0.9); /* Réduit la taille de 10% */

}
header {
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: flex-start; /* Aligner en haut */
    height: 100px; /* Ajustez la hauteur du header selon vos besoins */
}

/* CSS pour l'élément h3 */
h3 {
    font-family: 'Roboto', sans-serif; /* Utilisez la police Roboto pour un look moderne */
    color: #ffffff; /* Texte blanc pour le contraste sur fond sombre */
    text-transform: uppercase; /* Optionnel : transforme le texte en majuscules */
    text-align: center; /* Centre le texte */
    font-size: 2.5rem; /* Taille de la police, ajustez selon vos besoins */
    letter-spacing: 1.5px; /* Espacement des lettres pour un effet élargi */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Ombre douce pour donner de la profondeur */
    margin: 20px 0; /* Espacement au-dessus et en dessous de h3 */
    padding: 10px; /* Un peu de padding autour du texte */
    border-radius: 10px; /* Coins arrondis pour le bloc de texte */
    background: rgba(255, 255, 255, 0.1); /* Fond légèrement visible */
    transition: all 0.3s ease-in-out; /* Transition douce pour les effets de survol */
}

/* Effet de survol pour h3 */
h3:hover {
    background: rgba(255, 255, 255, 0.2); /* Augmentez la visibilité du fond au survol */
    cursor: pointer; /* Change le curseur pour indiquer la possibilité d'interaction */
    transform: scale(1.05); /* Agrandit légèrement l'élément pour attirer l'attention */
}

.logo {
    min-width: 450px; /* Ou toute autre taille appropriée pour le logo */
    max-width: 450px; /* Ou toute autre taille appropriée pour le logo */

    display: block; /* Assure que l'élément est traité comme un bloc */
    margin-right: auto; /* Centrage horizontal si nécessaire */
    position: fixed; /* Le logo restera fixe lors du défilement de la page */
    top: 0; /* Aucun espace depuis le haut de la page */
    left: 0; /* Aucun espace depuis le côté gauche de la page */
    z-index: 1000; /* S'assure que le logo reste au-dessus des autres éléments */
    padding: 50px;
}
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0; /* Ajustez en fonction de l'espacement désiré */
}



.sidebar {
    width: calc(1.5 * 250px); /* Largeur de la sidebar 1.5 fois plus grande */
    max-width: 375px;
    background-color: #000000; /* Même couleur de fond que le body */
    border-left: 1px solid #ffffff; /* Barre verticale fine blanche */
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column; /* Organise les éléments de la sidebar en colonne */
    justify-content: center; /* Centre verticalement les éléments dans la sidebar */

}

.menu {
    width: 100%; /* Permet aux éléments de la liste de remplir la sidebar */
    list-style-type: none; /* Enlève les puces devant les éléments de liste */
    padding: 0; /* Enlève le padding par défaut de la liste */
}
.menu a {

    display: flex;
    align-items: center; /* Alignement vertical des éléments de la liste */
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 25px;
    transition: border-color 0.3s;
    max-width: 80%; /* Définit une largeur maximale pour les boutons */
    margin: 10px auto; /* Centre les boutons horizontalement */
    list-style-type: none; /* Enlève les puces devant les éléments de liste */


}

.menu a:hover {
    background-color: rgba(255, 255, 255, 0.23); /* Bordure blanche au survol */
}
.menu li {
    list-style-type: none; /* Enlève les puces devant les éléments de liste */

}
.menu ul {
    list-style-type: none; /* Enlève les puces devant les éléments de liste */


}

.menu-icon {
    width: 22px;
    height: 22px;
    margin-right: 40px;
    vertical-align: middle;
    object-fit: cover; /* Cela garantit que l'image couvre la zone sans être déformée */
    align-items: center;

}

.menu li a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 10px;
    transition: background-color 0.3s;
    border-radius: 55px; /* Coins très arrondis pour le survol */
    align-items: center;
}


.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(100% - 250px); /* En supposant que la sidebar fait 250px de large */
    padding-top: 50px; /* Ajoutez une marge en haut équivalente à la hauteur du logo plus un peu d'espace */
    padding-left: 300px; /* Ajustez si nécessaire pour tenir compte de la largeur de votre sidebar */
    padding-right: 0; /* Ajustez selon la disposition du site */

}

/* Style pour le bouton Se connecter */
.btn-connexion {
    display: block;
    width: calc(100% - 40px); /* ajustez selon la largeur de votre sidebar */
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    border: 2px solid #FFA500; /* Bordure orange */
    color: white;
    background-color: transparent; /* Fond transparent */
    border-radius: 55px; /* Coins arrondis */
    transition: background-color 0.3s, color 0.3s;
}

.btn-connexion:hover {
    background-color: #FFA500; /* Fond orange au survol */
    color: white; /* Texte blanc au survol */
}

/* Style pour le bouton S'inscrire */
.btn-inscription {
    display: block;
    width: calc(100% - 40px); /* ajustez selon la largeur de votre sidebar */
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    background-color: #FFA500; /* Fond orange */
    color: white;
    border-radius: 55px; /* Coins arrondis */
    transition: background-color 0.3s;
    border: 2px solid #FFA500; /* Ajoute une bordure orange pour le bouton S'inscrire */

}

.btn-inscription:hover {
    color: white;
    background-color: transparent; /* Rend le fond transparent au survol */

}


/* Styliser toute la scrollbar */
::-webkit-scrollbar {
    width: 12px; /* Largeur de la scrollbar */
}

/* Styliser le fond de la scrollbar */
::-webkit-scrollbar-track {
    background-color: #ffffff;
}

/* Styliser la partie mobile (le thumb) de la scrollbar */
::-webkit-scrollbar-thumb {
    background-color: darkorange; /* Couleur de base pour le thumb */
    border-radius: 6px;
    border: 3px solid orange; /* Ajouter si vous voulez une bordure autour du thumb */
}


.profile-module {
    text-align: left; /* Centrer le contenu */
    padding: 20px; /* Ajoutez un padding pour un peu d'espace */
    justify-items: end;
}

.profile-picture {
    width: 30px; /* Ou la taille que vous voulez pour l'image de profil */
    height: 30px; /* Gardez la hauteur et la largeur égales pour un cercle parfait */
    border-radius: 50%; /* Cela rend l'image de profil ronde */
    margin-bottom: 10px; /* Ajoutez un peu d'espace entre l'image et le texte */
    object-fit: cover; /* Cela s'assure que l'image couvre tout l'espace sans déformation */
    border: 1px solid white; /* Ajoutez une bordure si vous le souhaitez */
}

.profile-username {
    color: #ffffff; /* La couleur de votre choix */
    font-size: 18px; /* La taille de police de votre choix */
    font-weight: bold; /* Si vous voulez un texte en gras */
    overflow-wrap: break-word; /* Empêche le texte de sortir de son conteneur */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: #000; /* Fond noir pour tout le body */
}

.container {
    display: flex;
    min-height: 100vh;
    align-items: center; /* Alignement vertical */
    justify-content: center; /* Alignement horizontal */
}

/* Styles de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #000; /* Fond noir pour tout le body */
}

.container {
    display: flex;
    min-height: 100vh;
    align-items: center; /* Alignement vertical */
    justify-content: center; /* Alignement horizontal */
}

/* Styles pour la sidebar et la section principale */
.sidebar {
    width: 375px; /* Largeur de la sidebar */
    /* Ajouter d'autres styles de la sidebar ici si nécessaire */
}

.content {
    flex-grow: 1;
    display: flex;

}

/* Styles pour le formulaire */
.login-form {
    background: transparent;
    border-radius: 55px;
    padding: 20px;
    display: block;
    flex-direction: column;
    max-width: 318px;
    width: calc(100% - 50px); /* Un peu d'espace sur les côtés */
    margin-right: 100px;
    position: absolute;
    align-self: flex-start; /* Aligner le conteneur du formulaire à gauche */

}

/* Styles pour les champs de saisie */
.login-form input {
    background-color: transparent;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px 400px 10px 10px;
    border-radius: 55px;
    outline: none;
    font-size: 16px;
    color: white;
    margin-top: 10px;
}

/* Styles pour les boutons */
.login-form .btn-connexion,
.login-form .btn-inscription {
    font-weight: bold;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    border-radius: 55px;
    cursor: pointer;
    outline: none;
    width: 80%;
    max-width: 170px;
    align-self: center; /* Pour centrer les boutons */
    margin-top: 10px; /* Espace au-dessus des boutons */
    padding: 10px 10px; /* Ajoutez du padding selon vos besoins */
    background-color:transparent; /* Votre couleur d'arrière-plan pour le bouton */
    text-align: left; /* Alignez le texte à gauche */
    margin-left: 1px;
}

/* Effet de survol pour les boutons */
.login-form .btn-connexion:hover,
.login-form .btn-inscription:hover {
    background-color: #FFA500;
    color: white;
    border: 1px solid #FFA500;
}

/* Styles pour les liens */
a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-tendances {
     background: rgba(255, 98, 98, 0.09); /* Fond légèrement transparent */
 }

.tendances-container {
    width: 80%;
    margin: auto; /* Centre le carré dans la sidebar */
    margin-bottom: 30px; /* Centre le carré dans la sidebar */

    background: rgba(255, 165, 0, 0.09); /* Fond légèrement transparent */
    border-radius: 15px; /* Bord arrondi */
    text-align: center; /* Centrer le texte à l'intérieur */
    margin-top: 20px; /* Espacement après le bouton "Tendances" */
    border: 2px solid #FFA500; /* Ajoute une bordure orange pour le bouton S'inscrire */
    padding-top: 30px;

}

.tendances-container .tendance-title {
    margin-bottom: 20px; /* Espacement entre le titre et les tags */
}

.tag {
    display: block; /* Fait que chaque tag prenne toute la largeur */
    padding: 20px 0; /* Padding pour les tags */
    text-decoration: none; /* Enlève le soulignement des liens */
    color: white; /* Couleur du texte pour les tags */
    transition: background-color 0.3s; /* Transition douce pour le survol */
}

.tag:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Changement de couleur au survol */
}
.main-content {
    flex-grow: 1; /* Permet au contenu principal de prendre l'espace restant */
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
}

.tendances-main-container {
    width: 80%; /* ou la largeur de votre choix */
    max-width: 600px; /* ou la largeur maximale de votre choix */
    margin: auto; /* Assure le centrage horizontal si la fenêtre est très large */
    border: 1px solid #FFA500;
}

.tendances-main-container {
    width: 80%; /* ou la largeur de votre choix */
    margin: auto; /* Assure le centrage horizontal si la fenêtre est très large */
    border: 1px solid #FFA500;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.1); /* Fond légèrement transparent */
    border-radius: 15px;
    max-width: 800px; /* Ou la largeur maximale que vous souhaitez */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optionnel: Ajoute un peu d'ombre pour le style */
    margin-top: 150px;
    margin-bottom: 150px;

}

.tendance-titles {
    font-size: 2em; /* Taille du titre */
    margin-bottom: 30px;
    color: #333; /* Couleur du texte */
}

.tag-main {
    display: block;
    margin: 10px 0;
    padding: 25px 350px 25px 350px;
    background-color: rgba(157, 109, 46, 0.55);
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 1.2em; /* Taille du texte plus grande pour les tags */
    transition: background-color 0.3s;
}

.tag-main:hover {
    background-color: rgba(49, 32, 204, 0.63);
}
